<form action="/Home/MovieDisplay" method="post">
    ID: <input type="number" name="ID" min="0" /> <br />
    Title: <input type="text" name="Title" /><br />
    Year: <input type="number" name="Year" /><br />
    Genre:
    <select name="Genre">
        <option value="horror">Horror</option>
        <option value="action">Action</option>
        <option value="comedy">Comedy</option>
        <option value="drama">Drama</option>
    </select><br />
    Actors: <input type="text" name="Actors" /><br />
    Dirrector(s): <input type="text" name="Directors" /><br />
    <input type="submit" value="Submit" />
</form>